<% if notice.present?  %>
    <p class="text-xl py-2 text-green-500 font-medium rounded-lg inline-block"><%= notice %></p>
<% end %>
<% if warn.present?  %>
    <p class="text-xl py-2 text-red-500 font-medium rounded-lg inline-block"><%= warn %></p>
<% end %>