<div class="w-full">
  <div id="modify_mobiles">
    <% @modify_mobiles.each do |modify_mobile| %>
      <%= render "complete_modify_mobile", modify_mobile: modify_mobile %>
    <% end %>
  </div>
</div>